@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive;
}


* {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: dark;
    font-family: var(--font01);
    min-height: 100vh;
}

a {
    color: rgb(236, 236, 236);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: rgb(32, 32, 32);
    color: rgb(236, 236, 236);
    text-align: center;
}

header h1 {
    font-family: var(--font02);
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 50px;
}

header p {
    padding-bottom: 50px;
}

section {
    font-family: var(--font03);
    font-size: 3.5vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: rgb(236, 236, 236);
    color: rgb(32, 32, 32);
}

section.image {
    background-color: rgb(32, 32, 32);
    color: rgb(236, 236, 236);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.image p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.445);
    text-shadow: 1px 1px 0px black;
    padding: 5px;
}

section#img01 {
    background-image: url('../images/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../images/background002.jpg');
    background-size: cover;
}

footer {
    background-color: rgb(32, 32, 32);
    color: rgb(236, 236, 236);
    text-align: center;
    padding: 10px;
}